body{
  background-image:url('images/table.jpg');
  background-size:cover;
}
#table{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:row;
}
#cross{
  flex:70%;
  display:grid;
  grid-template-columns: repeat(3,auto);
  justify-content: center;
  align-content: center;
}
#side{
  flex:33%;
  display: grid;
  align-content: center;
}
#side>div{
  flex:25%;
}
.slot{
  background-image:url('images/00 back.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  cursor:pointer;
}
#cross #left{background-position:right;}
#cross #right{background-position:left;}
#help{
  position:fixed;
  top:0;
  right:0;
}
#cross div,#side div{
  width:20vh;
  height:20vh;
}
